* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
}

ul,
li,
ol {
    list-style: none;
}

h3 {
    margin: 0;
}

.Blue {
    color: #02a7f0;
}


/* 超出不显示 */

.no_overflow {
    overflow: hidden;
}


/* 清除下划线 */

a {
    text-decoration: none !important;
}


/* 下拉详细情况去三角 */

details summary::-webkit-details-marker {
    display: none;
}


/*清除浮动塌陷*/

.clearfix_D::before,
.clearfix_E::after {
    content: '';
    display: table;
    clear: both;
    /* 左右不允许浮动 */
}